@page
@using LibraryModule
@model LibraryRazorManager.Pages.BookCardsModel

<form method="get" class="filterbooks-form">
	<select asp-for="SelectedCategory" asp-items="Html.GetEnumSelectList<BookCategory>()" onchange="this.form.submit()"></select>
	<select asp-for="SelectedEra" asp-items="Html.GetEnumSelectList<BookEra>()" onchange="this.form.submit()"></select>
	<input type="text" name="AuthorQuery" value="@Model.AuthorQuery" placeholder="Author search"/>
	<button type="submit">Search</button>
</form>

<h2>Full book list:</h2>

<table class="bookcards-table-main" id="booksTable">
	<thead>
		<tr>
			<th>Category</th>
			<th>Short Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model.Books)
		{
			var bookYearTitle = $"book_{book.Publication}-{book.Title.Replace(" ", "_")}";
			<tr>
				<td>@book.Category</td>
				<td>@book.GetShortDescription()</td>
				<td>
					<button class="btn-bookfulldesc" type="button" onclick="ToggleBookInfo('@bookYearTitle')">Show details...</button>
					<button class="btn-bookedit" type="button" onclick="gotoEditBook('@book.Category', @book.Publication, '@book.Title')">Edit @book.Title ?</button>
					<form method="post" asp-page-handler="Delete" asp-route-year="@book.Publication" asp-route-title="@book.Title" onsubmit="return confirm('Delete this book <<@book.Title>>?');">
						<button type="submit" class="btn btn-sm btn-danger">Delete</button>
					</form>
				</td>
			</tr>
			<tr id="@bookYearTitle" class="book-info-row" style="display:none;">
				<td colspan="3">@book.BookInfo();</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script src="~/js/bookTable.js"></script>
}
